<a href="https://colab.research.google.com/github/AlexanderTello/Diplomatura_UTEC/blob/max/Ejercicios_Python_Asesoria003_24_04_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#ASESORIA 003

In [ ]:
#REALIZA
# Quiero eliminar la última LETRA 'a' de la palabra manzana empleaNdo STRIP y RSTRIP
fruta = 'manzana'
fruta.strip('m')
#fruta.rstrip('a')

'anzana'

In [ ]:
#REALIZA
#remover el "enter" (\n) en cada secuencia con STRIP o RSTRIP
seq1 = 'acttatgctaac\n'
seq2 = 'actgatcgtagctac\n'
seq3 = 'catcgatctacgtacg\n'
seq1 = seq1.rstrip('\n')
seq2 = seq2.rstrip('\n')
seq3 = seq3.rstrip('\n')
print(seq1,seq2,seq2)

acttatgctaac actgatcgtagctac actgatcgtagctac

In [ ]:
#print("Hello world")
#def sumar(x,y):
#  print(x+y)
#sumar(3,5)
#variables --> almacenan informacion --> se leen de derecha a izquierda
x = {2,3,4}
x
print(x)
y = [2,3,4,"u"]
y
z = "a","b","c"
print(type(z))
print(type(y))
print(type(x))
print(y)
#si tengo una variable que almacena objetos en [] es una lista
#si una variable almacena objetos separados por comas

{2, 3, 4}
<class 'tuple'>
<class 'list'>
<class 'set'>
[2, 3, 4, 'u']

Crear una base de datos empleando un diccionario

In [ ]:
keys = ['a','b','c','d','e']
values = [1,2,3,4,5] 
coordinate = ['x', 'y', 'z']
value = [3, 4, 5]

result = zip(coordinate, value)
result_list = list(result)
print(result_list)
len(keys)
len(values)
myDict = { k:v for (k,v) in zip(keys, values)} 
print(myDict)

[('x', 3), ('y', 4), ('z', 5)]
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
#diccionarios
#En términos de estructura de datos, un diccionario se denomina mejor una matriz asociativa, una lista asociativa o un mapeo. Podemos entenderlo como una lista de pares, donde el primer elemento del par, la clave, se utiliza para recuperar el segundo elemento, el valor. Por lo tanto, asignamos una clave a un valor.
#key:value
#DNI:nombre
#DNI siempre unico
#nombre puede repetirse
primers_dic = {'primer1':'actgactgactcga','primer2':'actgatgctagctcactcga','primer3':'ttgactgtcagtca','primer4':'atgtgtacgtcgtacgt'}
#for item in primers_dic:
#  print(item)
#solo recorre los KEYS
#for values in primers_dic:
#  print(primers_dic[values])
#for items in primers_dic.items():
#  print(items)
#print([item for item in primers_dic]) #keys
#print([primers_dic[item] for item in primers_dic]) #values
print([value for key, value in primers_dic.items()])#values

['actgactgactcga', 'actgatgctagctcactcga', 'ttgactgtcagtca', 'atgtgtacgtcgtacgt']

In [ ]:
#base de datos
def main():
  d={}
  d[101]='Dental' #agrego valores o objetos a un diccionario
  d[102]='Oftalmología'
  d[103]='Pediatría'
  d[104]='Psiquiatría'
  d[105]='Gastroenterología'
  d[106]='Nefrología'
  print(d)
  print('Base de Datos de Consultorios')
  print('id\t Area')
  for clave,valor in d.items():
    print(clave,'\t',valor)
main()

{101: 'Dental', 102: 'Oftalmología', 103: 'Pediatría', 104: 'Psiquiatría', 105: 'Gastroenterología', 106: 'Nefrología'}
Base de Datos de Consultorios
id	 Area
101 	 Dental
102 	 Oftalmología
103 	 Pediatría
104 	 Psiquiatría
105 	 Gastroenterología
106 	 Nefrología

In [ ]:
#crear un diccionario con los especialistas
e={1000:{'nombre':'Sandra Loza','fecha_ing':'10-08-2017','dep':103},
   1001:{'nombre':'Fernando Dominguez','fecha_ing':'01-11-2018','dep':102},
   1002:{'nombre':'Francisco Velez','fecha_ing':'21-10-2019','dep':101},
   1003:{'nombre':'Laura Trelles','fecha_ing':'12-06-2016','dep':102}}
print('Base de datos de los medicos especialistas\n')
for clave,dic2 in e.items():
  print('Persona ID: ', clave)
  for key,value in dic2.items():
    print(key,':',value)
  print()

Base de datos de los medicos especialistas

Persona ID:  1000
nombre : Sandra Loza
fecha_ing : 10-08-2017
dep : 103

Persona ID:  1001
nombre : Fernando Dominguez
fecha_ing : 01-11-2018
dep : 102

Persona ID:  1002
nombre : Francisco Velez
fecha_ing : 21-10-2019
dep : 101

Persona ID:  1003
nombre : Laura Trelles
fecha_ing : 12-06-2016
dep : 102

In [ ]:
#crea un diccionario
eng2esp = dict()
#agrega valores
eng2esp['one']='uno'
#eng2esp
my_dicc = {'one':'uno','two':'dos','three':'tres'}
print(my_dicc)

#imprimalo

#cree otro dic

{'one': 'uno', 'two': 'dos', 'three': 'tres'}

In [ ]:
frutero = {'fruta1':'naranja','fruta2':'manzana','fruta3':'pera'}
#recorra el diccionario con for 
#que se muestra?
for k,v in frutero.items():
  print(k,'\t',v)

fruta1 	 naranja
fruta2 	 manzana
fruta3 	 pera

In [ ]:
#el booleano -in-  sirve para preguntar por keys en los diccionarios
#my_dicc
#frutero
'one' in my_dicc
'fruta4' in frutero

False

In [ ]:
#puede extraer todos los values o keys en una lista (list)
frutero = {'fruta1':'naranja','fruta2':'manzana','fruta3':'pera'}
keysf=list(frutero.keys())
valuesf=list(frutero.values())
print(keysf)
print(valuesf)

['fruta1', 'fruta2', 'fruta3']
['naranja', 'manzana', 'pera']

In [ ]:
#construye un diccionario con una funcion
#que pida datos al usuario
#dame tu DNI:nombre completo
def my_DNI():
  DNI=input('ingrese su DNI: ')
  nombre=input('ingrese su nombre completo: ')
  dicc=dict()
  dicc[DNI]=nombre
  print(dicc)
my_DNI()

ingrese su DNI: 0265456
ingrese su nombre completo: alberto d
{'0265456': 'alberto d'}

In [ ]:
dni = input('Escribe tu DNI: ')
nombre_completo = input('Escriba su nombre completo: ')
mi_dicc = {'dni':dni,'nombre_completo':nombre_completo}
print(mi_dicc)

Escribe tu DNI: 46546
Escriba su nombre completo: alberto d
{'dni': '46546', 'nombre_completo': 'alberto d'}

In [ ]:
#construye un diccionario con una funcion
#que cuente el numero de letras y lo almacene
#'letra':'veces'
#ejemplo 'coco'
#{'c':'2','o':'2'}
word = 'brontosaurus'
d=dict()
for char in word: #recorrer la cadena de char
  if char not in d: #si el caracter no esta en el dicc
    d[char]=1 #
  else:
    d[char]=d[char]+1
print(d)

{'b': 1, 'r': 2, 'o': 2, 'n': 1, 't': 1, 's': 2, 'a': 1, 'u': 2}

In [ ]:
#en la secuencia de ADN crea una diccionario que 
#cuente los nucleotidos y cree un diccionario
#cuantos aminoacidos Alanina (A) protein X
ADN = 'aatgattacgtagctagctagctagctagctagctagatagtagctagctcgt'
def contar_char(seq):
  dicc_ADN=dict()
  for nt in seq:
    if nt not in dicc_ADN:
      dicc_ADN[nt]=1
    else:
      dicc_ADN[nt]=dicc_ADN[nt]+1
  return dicc_ADN

contar_char(ADN)

{'a': 15, 'c': 10, 'g': 13, 't': 15}

In [ ]:
my_dicc ={"java":101, "python":102, "c":103}
#entrega los values y guardalos en una lista
#entrega los keys y guardalos en una lista
list_keys=list(my_dicc.keys())
list_values=list(my_dicc.values())

In [ ]:
#empleando list_values y list_keys reconstruye el diccionario
#en forma de tupla -->ZIP
#en forma de diccionario-->{ k:v for (k,v) in zip(list_keys, list_values)}
x=zip(list_keys,list_values)
print(list(x))#tuplas
y={k:v for (k,v) in zip(list_keys,list_values)} #list comprehension
print(y)

[('java', 101), ('python', 102), ('c', 103)]
{'java': 101, 'python': 102, 'c': 103}

In [ ]:
#se puede emplear 'get' para obtener values de un diccionario
my_dicc={'java': 101,'python': 102,'c': 103}
print(my_dicc)

In [ ]:
#diccionarios "get"
dicc.get('key')
dicc={'java': 101, 'python': 102, 'c': 103}
dicc.get('java')

101