<a href="https://colab.research.google.com/github/AlexanderTello/Diplomatura_UTEC/blob/main/Introducci%C3%B3n_a_la_programaci%C3%B3n_1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Instalación del software Anaconda

Anaconda es una plataforma de libre acceso que permite realizar ciencia de datos y aprendizaje automático en los lenguajes de programación Python y R. 

Jupyter es una herramienta de código abierto que ofrece un ambiente de trabajo en el que se puede escribir código y procesar datos.

**1. Descargamos e instalamos la última versión de python:**
> https://www.python.org/downloads/

**2. Descargamos e instalamos la última versión de Anaconda:**

> ***Para	64 bits:*** https://repo.anaconda.com/archive/Anaconda3-2020.11-Windows-x86_64.exe 

> ***Para 32 bits:*** https://repo.anaconda.com/archive/Anaconda3-2020.11-Windows-x86.exe 


**3. Abrimos la aplicación Jupyter que viene incluido en Anaconda**

Pasos:
> A. *Tecla Windows*

> B. *Anaconda3*

> C. *Anaconda Navigator*

> D. *Jupyter Notebook: Launch*

![picture](https://drive.google.com/uc?id=1D5GxvRBh_UJHxhHEAJdtJn5ApVsygKcV)


> E. *Seleccione el navegador de preferencia*

![picture](https://drive.google.com/uc?id=1v6QoiksEYY_E5FcfIV8MJlwImAEDAEn0)

> F. Se abrira una pestaña

![picture](https://drive.google.com/uc?id=16N99yxa2tJA6kFtmxZZW_tyWhnuvtbce)

**4. Introducción a  Jupyter Notebook**

> A. Creamos una carpeta de trabajo **(Folder)**

![picture](https://drive.google.com/uc?id=1cfXR1cIXKhiB81oBgq1EpeRczI9JNgCQ)

> B. Seleccionamos la carpeta y hacemos clic en **Rename**

![picture](https://drive.google.com/uc?id=1H6PX7csn9PaXTYWOMscME7EGVymIRrFX)

> **C. Cambiamos de nombre a la carpeta.** En este caso lo nombraremos ***Jupyter Notebooks***. Luego hacemos clic en ***Rename*** para guardar el nuevo nombre

![picture](https://drive.google.com/uc?id=1Q1NIeoRbuCH-xvaOq5oAe9XB7Q6ryLRM)

> **D. Abrimos la carpeta y creamos un archivo de Notebook.** Hacemos clic en Python 3

![picture](https://drive.google.com/uc?id=1cfXR1cIXKhiB81oBgq1EpeRczI9JNgCQ)


> **E. Cambiamos el nombre del archivo** haciendo clic sobre texto ***Untitled*** que se encuentra en la parte superior. En este caso lo nombraremos ***Notebook 01***. Luego hacemos clic en ***Rename*** para guardar el nuevo nombre

![picture](https://drive.google.com/uc?id=1y7ZRw2c4lvFuSdp0k-8A-0k8gASw9L4c)

> F. De esta manera hemos creado un Notebook en el que escribiremos código en Python3


![picture](https://drive.google.com/uc?id=1LJfnfUessJ2vPwcgS4iiE0Wtecjtc7Mo)


>  E. Al igual que en Google Colab, en Jupyter podemos introducir código y texto en celdas. Para ello hacemos clic en la celda y seleccionamos el tipo. 

* Si queremos que la celda corra código, seleccionamos la opción ***Code***

![picture](https://drive.google.com/uc?id=1hYdTNEn_s-AnYsATX0sBbOGGO_SMBoGr)


* Si queremos que la celda corra Texto, seleccionamos la opción ***Markdown*** 
![picture](https://drive.google.com/uc?id=1PhhRn8GvxV3sSDZJadV9zFFp5SJX4Zkw)

*Una manera rápida de correr cada celda es con ***Ctrl+Enter***

![Capture.PNG]()

# 2. Revisión de conceptos y sintaxis del lenguaje Python 3

**1. Tipos y  valores:**

* **Valor: número o letra**

Un valor es una de las cosas importantes con las que un programa manipula, como una **letra o un número**. Por ejemplo, los valores ***2021*** y **"¡Hola!"**. # Para imprimir un valor empleamos la función de python `print()`

In [ ]:
print(2021)
print('Hello World')
#char=texto
#numericos=valor
a=3
print(a)
b=5
b

2021
Hello World
3

5

In [ ]:
#REALIZA: imprime la marca de dos carros (30 segundos)
print('Ford, Mitsubishi')# 1 valor
print('Hyunday y BMW')
print("ford")
print("mazda")
print('Ford', 'Mitsubishi')# 2 valor

Ford, Mitsubishi
Hyunday y BMW
ford
mazda
Ford Mitsubishi


* **Tipos: String, integer, float, y booleano**

Presentamos cuatro importantes tipos de valores.

> 1. Las cadenas se representan por ***STR (str)*** y son una serie de caracteres como ***‘Hello World’***.

In [ ]:
print('Alberto')
print('Perú')
print('Vacuna')
print('125')

Alberto
Perú
Vacuna
125

In [ ]:
print('papa ' + 'amarilla')
print('la ' + 'mazamorra ' + 'morada') #concatenar STR o combinar (merge)
# se utiliza el simbolo + para concatenar 2 STR (string=cadena)

papa amarilla
la mazamorra morada

In [ ]:
#REALIZA: construir la frase con 03 STR individuales sin concatenar: Lavese las manos
print("lavese","las","manos")

lavese las manos

> 2. Los enteros o ***INTEGERS (int)*** son un tipo de valor numérico.

In [ ]:
print(-10)
print(125)
print(1)
print('22')
print('34')
print('22'+'34')

-10
125
1
22
34
2234

> 3. Los números decimales se representan por ***FLOAT***.

In [ ]:
print(3.14)
print(-0.252)
print(142.0001)

3.14
-0.252
142.0001


> 4. Los ***BOOLEANOS (bool)*** se definen por las palabras `True` y `False`. Tenga en cuenta que la primera letra de ambas palabras inician en mayúscula, de lo contrario saldrá error. Las expresiones booleanas son expresiones que se evalúan como verdaderas o falsas. Son comunes característica de los lenguajes de programación. Los siguientes operadores de comparación se usan comúnmente en expresiones booleanas.

* x == y # x es igual a y
* x != y # x no es igual a y
* x > y # x es mayor que y
* x < y # x es menor que y
* x >= y # x es mayor o igual a y
* x <= y # x es menor o igual a y

In [ ]:
# ¿ 1 es igual que 1?

1==1

True

In [ ]:
# ¿ 3 es mayor que 1?
3>1

True

In [ ]:
x = 1
y = 2

# ¿ x+y es menor que 4?
x-y<4

True

In [ ]:
# ¿ 10 es menor que 5?
10 <5

False

In [ ]:
a = 5
b = 6

# REALIZA: ¿la variable "a" es igual a la variable "b" ? #que enunciado se responde a esta pregunta
a==b

False

In [ ]:
# Podemos usar
a = 'En'
b = '1821'
c = 'se declaró la independencia del Perú '
print(a,b,c) #se combinan STR

En 1821 se declaró la independencia del Perú

Para conocer el tipo de valor usamos la función `type()`

In [ ]:
type('Hello World')

str

In [ ]:
type(2021)

int

In [ ]:
type(3.14)

float

In [ ]:
type(True)

bool

In [ ]:
type('22')

str

Los enteros int y los decimales float pueden ser tratados como cadenas (str), pero las cadenas no pueden ser tratadas como números, con excepción de los booleanos.

`TIP: Para hacer comentario usamos el símbolo almohadilla​ o numeral​ **(#)**`

In [ ]:
#voy a imprimir por pantalla el numero 1253
#print(1253)

In [ ]:
print('jose')

jose

-jose- no es un STR de acuerdo a Python; los STR deben ir comillados.

**2. Variables y keyworks**

Las variables pueden ser asignadas como números (int/float), o cadenas (str). Por ejemplo, Podemos asignar una secuencia de As, Cs, Ts y Gs a una variable llamada ‘seq’. Las variables se asignan con la sintaxis variable_nombre = valores.

In [ ]:
seq1 = 'atgcatgatgc' #SARS1
oligo2 = 'acgtacgctgtca' #SARS2
#print(seq1)
#print(oligo2)
# REALIZA: concatenar seq1 y oligo2 en diferente orden
print(seq1 +'\n'+ oligo2)
ADNmix=seq1+oligo2
ADNmix_inv=oligo2+seq1
print(ADNmix)
print(ADNmix_inv)
print(seq1[::-1])

atgcatgatgc
acgtacgctgtca
atgcatgatgcacgtacgctgtca
acgtacgctgtcaatgcatgatgc
cgtagtacgta

In [ ]:
decimal = 3.1416
decimal

3.1416

Ejemplo: Almacena tu nombre y apellido en variables... como lo harias?

In [ ]:
nombre_completo = 'Alberto Donayre'
nombre = 'Alberto'
apellido = 'Donayre'
# REALIZA: imprime las tres variables en lineas separadas.

Debido a que se asignan valores no numéricos (str) a una variable (seq), se deben usar comillas simples o dobles ***( `'Hello'` o `"Hello"` )***. Si los valores son numéricos no necesitamos usar comillas.

In [ ]:
seq = 5
print(seq)
print(seq+5)
seq+=1 
#REALIZA: Que resulta de la expresión? --> print(seq)
#cambia el valor de una variable

5
10

In [ ]:
#si a=5
#si b=3
#REALIZA Que ocurre en la expresion   a,b=b,a  --> imprime a y b

Por lo tanto, las variables se emplean para almacenar valores que pueden ser numéricos o no. Si empleamos comillas en un número, convertimos en `str` estos números, y por lo tanto no poseen valores numéricos. De modo que, aunque la variable `seq` podría aparentar ser números, dependiendo si se emplean o no comillas para encerrar los valores.
Cuando asignamos un número sin comillas a una variable, si el número es decimal, python va a asignarlo como un valor `float` por defecto. Si se excluye el decimal, python lo asigna como `int` o `integer`.

In [ ]:
d= 1.2,3.3,5,6,7,8,9.345,7.4
d

(1.2, 3.3, 5, 6, 7, 8, 9.345, 7.4)

Esta es una Tupla, conjunto de elementos que no se pueden modificar. En parentesis o sin parentesis.

La función type() permite identificar el tipo de objeto en una variable (tuple/int/float).
Al asignar un número a una variable sin emplear comillas, se puede usar el valor numérico en operaciones matemáticas comunes.

In [ ]:
d = (1.2,3.3,6,7)
print(d)
e = 5,6,7,8
print(type(d))
print(type(e))

(1.2, 3.3, 6, 7)
<class 'tuple'>
<class 'tuple'>

In [ ]:
#REALIZA: Que resulta de la expresion?  print(d+e)

In [ ]:
print(d[2])
print(d[0:2])

6
(1.2, 3.3)

In [ ]:
type(d)

tuple

In [ ]:
type(d[0])

float

In [ ]:
type(d[2])

int

**3. Operadores**

Con python podemos realizar diversos calculos aritméticos. Python cuenta con operadores que representan la suma `+`, resta `-`, exponenciación `**`, multiplicación `*`, división `/`,  y residuo `%`.

In [ ]:
# Creamos la variable n
n = 3

#Imprimimos el resultado de las operaciones
print('Suma: ', n+13)
print('Resta: ', n-9)
print('Exponenciación: ', n**4)
print('Multiplicación: ', n*9)
print('División:', n/2)
print('Residuo: ', n%2)

In [ ]:
#REALIZA: Si a=4 , b=3 y c=5 Que resultado se espera de (a**b)+c y de (c*b)/a+b y almacene el resultado en las variables X e Y respectivamente.

En cambio si el número esta entre comillas,el valor numérico no se emplea y se asume a la variable como STR (cadena), al multiplicar simplemente se copia la cadena un número de veces. No se podrá sumar, restar o emplear potencia con una cadena STR.

In [ ]:
n = '3'
m = 'D'
print('Multiplicación de un string: ', n*4)
print('Suma de strings: ', n + m)

Multiplicación de un string:  3333
Suma de strings:  3D

In [ ]:
#REALIZA: Si tengo la secuencia de ADN "tga" (codon STOP) y deseo 
#añadirla al final de la secuencia del "atgctacgaacggtagctagcatca" pero 2 veces. 
#Realice la operacion y almacene la secuencia en una variable.

**¿Cómo convierto el tipo de una variable en otro?**

Usamos la función `int()` para convertir una variable a integer

In [ ]:
# Por ejemplo, la variable x almacena un valor string
x = '21'

#convierto la variable string x a integer. Lo almaceno en la variable Y
y = int(x)

#Imprimo el tipo de valor de la variable y
type(y)

int

In [ ]:
#REALIZA:
z = '13'
f = '16'
#opcion a: z + f  
#Explica que ocurre en la opcion a
#opcion b --> entregame la suma de ambos valores
#Explica como se obtienen los valores

Usamos la función  `float()`  para convertir una variable a float

In [ ]:
# la variable "x" es un string
x = '12.5'

# convierto a una variable float
y = float(x)
print(y)
# revisamos la conversión de string a float con la función type()
type(y)

12.5

float

In [ ]:
#REALIZA Crea un STR1 y STR2. Luego concatenarlos. Transformalos en float
#y multiplicalos almacena su valor en una variable

Usamos la función `str()` para convertir una variable a string

In [ ]:
# la variable "x" es un integer
x = 25

# convierto a una variable str
y = str(x)

# revisamos la conversión de integer a string con la función type()
type(y)

str

In [ ]:
#REALIZA: empleando dos variables que almacenan numeros convertirlos en STR y
#concatenarlas y almacenarlas en una variable, ademas entregue un fragmento 
#con los ultimos 5 caracteres.

In [ ]:
#REALIZA en la variable ADN
ADN = 'actgactgctagctcgtcgtcatta'
#entregame el ADN leido desde el final hasta el inicio

**4. Entradas y salidas**

Para crear una variable podemos crearlo directamente o usando la función de python `input()`. Cuando corremos una variable que llama esta función, el programa espera que el usuario escriba un valor. El valor se almacena en la varaible cuando se presiona **Enter**. El valor de una variable se puede obtener con la función de python `print()`

In [ ]:
# Creamos la variable 'entrada'
entrada = input()

# La salida será dos veces el valor de la entrada
salida  = 2*entrada

#imprimimos la entrada y salida
print('Entrada: ',entrada)
print('Salida: ',salida)

hola
Entrada:  hola
Salida:  holahola

NOTA: La funcion %s me permite reemplazar una palabra en una frase.
Ejemplo:
'Hello, %s' % name

In [ ]:
'Hello, %s' % 'Alberto'

'Hello, Alberto'

In [ ]:
#REALIZA
#pregunta al usuario --> Cual es su comida favorita
#pregunta al usuario --> Cual es su nombre
#imprime la frase Me llamo NOMBRE y me encanta el o la COMIDA X

# ***Ejercicios***

**E1: Área el triángulo**

Escriba un código que permita calcular el área de un triángulo si la base mide 2 cm y la altura 3 cm.

In [ ]:
# Creamos la variable base


# Creamos la varialbe altura


# Calculamos el área del triángulo


# Imprimimos el área

print('el área del triángulo es: ', )

3.0
el área del triángulo es:  3.0

**E2: Equivalencia entre masa y energía**

El físico alemán Albert Einstein formuló la ecuación $E = mc^2$ para explicar que todo cuerpo en reposo posee un tipo de energía asociada. La ecuación establece que la E (energía) es igual a m (masa) por c (velocidad de la luz) al cuadrado. Calcular la energía que contiene $0.1 kg$ de materia asumiento que la velocidad de la luz es $300000000 m/s$

In [ ]:
# Creamos la variable masa


# Creamos la variable velocidad


# Aplicamos la fórmula


# Imprimimos el resultado
print(   , 'joules')

9000000000000000.0 joules

**E3: Calculadora de edad**

El reto consiste en crear un programa para calcular la edad humana de tu perro. El pseudocódico consiste en:

* Ingresar el nombre de tu mascota perruna.
* Ingresad su edad cronológica.
* Convertir edad cronológica del perro en años humanos. `Clave: Asumamos que si multiplicamos por 7 la edad crónologica de un perro obtenemos su edad en años humanos.`
* La salida sea una frase que incluya la el nombre y la edad en años humanos de tu mascota. Ejemplo:`Tu mascota Tobby tiene 21 años humanos`

In [ ]:
# Ingresamos el nombre de la mascota
nombre = 

# Ingresamos edad de mascota
edad_perro = 

# Aplicamos la conversión de edad perro a edad humano
edad_humano = 

# Imprimimos la salida
print('Tu mascota', nombre, 'tiene', edad_humano, 'años humanos' )

Nombre de mascota: pluto
Edad de mascota: 4
Tu mascota pluto tiene 28 años humanos

**E4: Índice de Masa Corpora(IMC)**

Se debe calcular el IMC en los trabajadores de una empresa para determinar el estado de salud del personal. Permita que el usuario ingrese los parametros necesarios y entreguele una recomendacion acerca de su salud.

In [ ]:
# Crea la variable peso


# Crea la variable altura


# Crea la variable IMC
IMC = 

# Imprima el resultado
print(IMC)

24.755464315903875

**E5: Orden de operadores**

En python, en la operaciones matemáticas, el orde del cálculo depende del orden de las operaciones:

1. Los paréntesis `()` tienen mayor jerarquía:
```
# 3*(2+1) = 9
# 3*2+1 = 10
# (5-3)**(1+1) = 4
```
2. Le sigue la exponenciacón `**`
```
# 3 * 2**2 = 12 y no 36
# 3 + 2**2 = 7 y no 25
```
3. La multiplicación y división `* /` tiene mayor rango que la suma y resta  `+ -`
```
# 4*5-2 = 18 y no 12
# 6-6/2 = 3 y no 0
```
4. Los operadores con el mismo nivel se evalúan de izquiera a derecha.
```
# 8/4/2 = 1
# 3*4/2 = 6
```

Teniendo como valor iniciar `x = 2`. Calcular el resultado de las siguientes operaciones:

* Restar 3
* Multiplicar por 4
* Elevar al cuadrado
* Dividir entre 5

es decir,

$((x-3)*4)^2 / 5$

In [ ]:
x = 2

3.2

Teniendo como valor iniciar `x = 2`. Calcular el resultado de las siguientes operaciones:

* Dividir entre 5
* Elevar al cuadrado
* Restar 3
* Multiplicar por 4

es decir,

$((x/3)^2 -3)*4$

In [ ]:
x = 2

-11.36

**E6: Acceder a segmentos de un String**

Usamos los corchetes `[]` para acceder a un string. Por ejemplo, si a la variable string `DNA`:
```
DNA = 'CTGTAAT'
```
quiero acceder a la primera letra, escribo un 0 dentro de los corchetes:
```
DNA[0]
>> 'C'
```
Si quiero acceder a la segunda letra, escribo 1 dentro de los corchetes. Así sucesivamente. 
```
DNA[1]
>> 'T'
```

Si deseo acceder a un rango de letras dentro string, debemos usar dos puntos `:`. Por ejemplo, si quiero tomar las 3 primeras letras, las posiciones que tomaría en el string `DNA` sería de `0:2`. Sin embargo, en python debemos sumar una unidad al límite superior del rango. Es por ello que no usamos `DNA[0:2]` sino `DNA[0:3]`.

```
DNA[0:3]
>> 'CTG'
```

Usar el string "descripcion"
```
descripcion = 'PaoloGuerrero27Peru'
```

y emplear los corchetes para acceder a los caracteres. Imprimir lo siguiente:

```
Mi nombre es Paolo
Mi apellido es Guerrero
Tengo 27 años
Soy de Peru
```

In [ ]:
# Tengo la variable descripcion
descripcion = 'PaoloGuerrero27Peru'

# Completar
print('Mi nombre es ',          )
print('Mi apellido es',         )
print('Tengo ',         , 'años')
print('Soy de',                 )

Mi nombre es  Paolo
Mi apellido es Guerrero
Tengo  27 años
Soy de Peru

***E7: Función len() y count()***

La función de python len() retorna el número de caracteres de una variable string.
```
DNA = 'CTGTAAT'
len(DNA)
>> 7
```
La función count() sirve para contar el numero de caracteres específicos dentro de un string. Por ejemplo, si quisiera contar el numero de adeninas en la variable string DNA, entonces uso:

```
DNA = 'CTGTAAT'
DNA.count('A')
>> 2
```
Tomar en cuenta que los caracteres que deseo buscar deben ir dentro de los paréntesis de la función `count()`.

> *Crea un código que permita calcular el porcentaje CG de la secuencia de ADN.*

In [ ]:
DNA = 'CAGTCGATCGATCAGGGGGTCGTACGTACGACGTGATCATCGTACGTACGATCTGCTAGCTACGTACGATCATCGTAGCTACGTGTAGCTAGTCGTGTAGCTACGTAGC'

# Contamos el número de citosinas
citosinas =  

# Contamos el número de guaninas
guaninas =  

# Calculamos la longitud de la secuencia
longitud =  

# Calculamos el porcentaje
CG =  

# Imprimimos el resultado
print(CG)

52.293577981651374

**E8: Función find() y replace()**

La función de python `find()` retorna la posición de un caracter dentro de un string. Por ejemplo: 
```
DNA = "ACAGACTATCTAGTG"
DNA.find('G')
>> 3
```
La limitación de la función find() es que solo retorna una sola posición.

La función `replace()` nos ayuda a reemplazar un caracter por otro en un string. Por ejemplo, si queremos cambiar la letra "o" en la palabra "maestro" por la letra "a".

```
palabra = "Maestro"
palabra.replace('o', 'a')
>> "Maestra"
```

Crea un codigo para obtener la cadena complementaria de una secuencia de ADN.

In [ ]:
DNA = 'CAGTCGATCGATCAG'

# Reemplazamos C por g
DNA = DNA.replace("C", "g")

# Reemplazamos A por t
DNA = DNA.replace( )

# Reemplazamos G por c
DNA =  

# Reemplazamos T por a
DNA =  

DNA

'gtcagctagctagtc'

## **RETO FINAL: Paternidad**

Las secuencias "CGG", "AGT" y "TTG" son llamadas microsatélites y caracterizan regiones en los cromosomas humanos. Se emplean en ensayos de paternidad para identificar los potenciales donantes de las secuencias. En un ensayo de paternidad es probable que el padre potencial transfiera al hijo/hija una o más secuencias marcadoras microsatelites. Les entregaremos secuencias de tres posibles padres y una secuencia del niño. Ud debera escribir un script de python para buscar los microsatelites en los adultos.