<a href="https://colab.research.google.com/github/AlexanderTello/Diplomatura_UTEC/blob/max/Introducci%C3%B3n_a_la_programaci%C3%B3n_2_Python_Diplomatura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Condicionales (if/elif)**

Preguntar si la variable x aleatoria es divisible por 2. Si es asi imprimir "es un numero par" de otro modo imprimir "es numero impar"

Los enunciados condicionales permiten la ejecución selectiva de código dependiendo del resultado de una comparación. 

**A. Iniciaremos con las expresiones booleanas REPASO.** El primer operador es `==` y sirve para comparar dos valores. El resultado será `True` o `False`

In [ ]:
# Por ejemplo, ¿ Qué resultado tenemos si comparamos estos dos números?

4 == 4
#'casa' == 'zapato'

True

In [ ]:
# ¿Y si comparamos estos?

4 == 9

False

In [ ]:
# También podemos comparar palabras
'pepe' == 'pepe'

True

Aparte del operador doble igual `==`, existen otros operadores. ¿Cómo expreso en código los siguientes enunciados usando los operadores `!=`, `>`, `<`, `>=`, `<=`?

In [ ]:
# 4 no es igual a 2

4 != 2 #es diferente

In [ ]:
# 80 es mayor a 20

80 > 20

True

In [ ]:
# 0.005 es menor que 0

0.005 < 0

False

In [ ]:
# 3.1 es mayor o igual que 3

3.1 >= 3

True

In [ ]:
# 14.5 es menor o igual que 15

14.5 <= 15

True

In [ ]:
#REPASO 1
#Creamos enunciados que nos entreguen numeros aleatorios
#enteros y decimales; usar variables n y f

# n --> numero decimal entre 0 y 30
# f --> es un entero de entre 1 y 100

#importar la funcion random
#podemos preguntar multiples cosas a esos numeros empleando las
#variables
#ejemplo, imprime ambos numeros
#empleando una condicion booleana preguntar si ambos numeros son
#menores a 3, imprimir lo que se obtiene
import random
n = 6*random.random()
f = random.randint(0,6)
print('n =','%.2f' %n)
print('f =', f)
#condicionales
if n < 3 and f < 3:
  print('ambos valores son menores a 3')
else:
  print('algunos de los valores o ambos, no son menores que 3')

n = 4.71
f = 6
algunos de los valores o ambos, no son menores que 3

>>**REALIZA 1:** Cree las variables numéricas x e y. Asigna un número aleatorio. Luego compárelos usando operadores. ¿Qué resultado obtienes `True` o `False`?

In [ ]:
# Cree las variables
x = 2
y = 5

In [ ]:
# x es igual a y
x = 2
y = 5
print(x == y)
print(x != y)

False
True

In [ ]:
# x no es igual a y
print(x != y)

True

In [ ]:
# x + y no es igual a 10
x = 2
y = 5
(x+y)!= 9

True

In [ ]:
# x es mayor que y
x>y

False

In [ ]:
# x es menor que y

True

In [ ]:
# x es mayor o igual  que y
x>=y

In [ ]:
# x es menor o igual que y
x<=y

**B. Operadores lógicos.** Nos ayudan a obtener una respuesta `False` o `True` de un enunciado a partir de dos o más condiciones. Existen tres operadores lógicos (and, or, not):

* **La primera de ellas es** `and`. Y nos devuelve `True` si dos condiciones son verdaderas (`True`). Por ejemplo, en el siguiente enunciado...

In [ ]:
# 2 es igual a 2 y 1 no es igual que 0

2 == 2 and 1 != 0

True

In [ ]:
x = 'jose'

str == type(x) and int != type(x)

True

...tenemos una respuesta `True` porque las dos condiciones se cumplen.

>>**REALIZA 2:** ¿Qué resultado obtienes de esta expresión?

In [ ]:
# 15 es menor o igual que 3 y 20 es mayor que 80
5 <= 3 and 20 > 80

False

* **El segundo operador es** `or`. Este operador solo devuelve `True` si alguna de las condiciones es verdadera (`True`). Por ejemplo, en el siguiente enunciado...

In [ ]:
# 4 es mayor o igual que 2 o 6 es menor que 3

4 >= 10 or 6 < 3

False

In [ ]:
y = 2.3

float == type(y) or int == type(y)

True

In [ ]:
str == type(y) or int == type(y)

False

...tenemos una respuesta `True` porque la primera condición es verdadera.

>>**REALIZA 3:** ¿Qué resultado obtienes de esta expresión?

In [ ]:
# 23 es diferente que 23 o 10 es menor que 5

23 != 23 or 10 <= 5

False

* Finalmente, el operador `not` niega una expresión booleana. Es decir, si una condicion es `False`, lo convierte en `True` o viceversa. 

Por ejemplo, en el siguiente enunciado...

In [ ]:
# resultado invertido de 2 > 1

not (not (2 > 1))

True

In [ ]:
not(False)

True

>>**REALIZA 4:** ¿Qué resultado obtienes de esta expresión?

In [ ]:
# resultado negado de: 3 es igual a 7 y 21 es menor o igual que 30

not (3 == 7 and 21 <= 30)

True

In [ ]:
x = 0.25
# negar el resultado de: x a la octava potencia es mayor que 0
not (x**8 > 0)

False

**C. Condicional simple.** Para verificar condiciones y en consecuencia modificar el comportamiento de un programa, usamos  condicionales. La expresión condicional más simple es `if`. 

*Por ejemplo, si tengo dos variables numéricas, me gustaría imprimir la frase "Ambos números son iguales", si solo si ambas variables son iguales*

In [ ]:
#Una condicional diagnostica un estado en una situacion determinada
#genera una opinion
#if
#elif
#elif
#elif
#else

In [ ]:
# Creo ambas variables
x = 2
y = 2

#  Escribimos la expresión condicional
if x==y:
  print('Ambos números son iguales')

Ambos números son iguales

In [ ]:
#range(valor_inicio,valor_fin,intervalo)
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [ ]:
numero = 1
if numero in range(0, 2):
  print("Numero se encuentra en el rango")

Numero se encuentra en el rango

Luego de la expresión if, escribimos la condición seguido de dos puntos. Si la condición es verdadera (`True`), entonces se ejecuta la expresión que está seguido de los dos puntos. De lo contrario, si la condición es falsa (`False`), la expresión se omite. Intenta cambiar los valores de las variables. ¿Se imprime la frase '`Ambos números son iguales`'?

>> **REALIZA 5**: Imprime la expresión "**Sí cumple**"  si una variable es menor que 25.

In [ ]:
# Creamos la variable
x = 2

# completar
if x<25:
  print("Sí cumple")

Sí cumple

**D. Condicional con dos posibilidades.** Otra forma de expresar un `if`  es teniendo dos posibilidades. La condición determina qué expresión se ejecuta. Para ello utilizo `else:`

*Por ejemplo, cuando yo quiero saber si un numero es mayor o menor que 5.*

In [ ]:
# Creamos la variable x
x = 7

# Creo el condicional

if x>5:
  print('x es mayor que 5')
else:
  print('x es menor o igual que 5')

x es mayor que 5

Si la condición es verdadera (*True*) entonces se imprime **'x es mayor que 5'**, si es falsa (`False`) se imprime **'x es menor o igual que 5'**

In [ ]:
# Creamos la variable temperatura. Usamos if para decir si un paciente
# tiene fiebre o no

temp = 39

if temp > 37.5:
  print('El paciente tiene fiebre')
else:
  print("El paciente no tiene fiebre")

El paciente tiene fiebre

* La función `random.random()` sirve para crear una variable de números aleatorios entre cero y 1.

In [ ]:
# Creamos la variable x
import random

# Número aleatorios entre 0 y 1
x = random.random()
print(x)
# 30*random.random()

# Si multiplicamos por 40, los numero aleatorios van entre 0 y 40
y = 40*random.random()

print(round(y,3))

0.512531256088523
17.215

>> **REALIZA 6**: Para este ejercicio. Crea una variable numérica 

---

aleatoria. Si la variable es mayor que 0.5, entonces imprima 1, de lo contrario imprima cero.

In [ ]:
# Creamos la variable x
import random
x = random.random()

#Imprimimos la variable
print(x)

# Creamos el condicional
if x > 0.5:
  print('el valor resulto mayor que 0.5','-->','1')
else:
  print('el valor resulto menor que 0.5','-->','0')

0.0483865385093637
el valor resulto menor que 0.5 --> 0

>>**REALIZA 7:** Para un experimento se necesitan  mínimo 0.01 ug de RNA.  Si tiene la masa necesaria debe imprimir “proceda con su experimento” de otro modo imprimir “La cantidad de RNA es insuficiente”.

In [ ]:
# Creamos la variable de masa
masa = 0.001
if masa >=0.01:
  print('Proceda con su experimento')
else: 
  print('La cantidad de RNA es insuficiente')

La cantidad de RNA es insuficiente

**E. Condicional con varias posibilidades.** A veces nos enfrentamos a condicionales con más de dos posibilidades. Una forma de expresar este tipo de condicional, es usando `elif`:

Por ejemplo, cuando deseo premiar una nota. 

Nota | Premio 
-------------------|------------------
0 - 9      |Bronce
10 - 15      | Plata
16 - 20      | Oro

In [ ]:
#if --> PRIMERA CONDICION
#elif --> EL RESTO DE LAS CONDICIONES (PUEDEN SER MULTIPLES)
#else --> SE EJECUTA SOLO SI LAS ANTERIORES SON FALSAS

In [ ]:
#Codigo... que incluya una opcion si el usuario ingresa un valor 
# no valido mayor a 20
nota = 13.8
if nota >=0 and nota <= 9:
  print('te ganaste la medalla de bronce')
elif nota >=10 and nota <= 15: 
  print('te ganaste la medalla de plata')
elif nota >=16 and nota <= 20: 
  print('te ganaste la medalla de oro')
else:
  print('numero no valido')

te ganaste la medalla de plata

In [ ]:
#nicke
nota=8.9
if nota<=9:
    print("Bronce")
elif nota<=15:
    print("Plata")
elif nota <=20:
    print("Oro")
else:
    print("nota invalida")

Bronce

In [ ]:
#kathy
#Codigo... que incluya una opcion si el usuario ingresa un valor 
# no valido mayor a 20
nota=15
if nota >=0 and nota <=9:
  print('bronce')
if nota >= 10 and nota <= 15:
  print('plata')
if nota>=16 and nota <= 20:
  print( 'oro')

plata

In [ ]:
#pamela
nota = int(input("Ingresa la nota: "))
if nota>20:
  print('No es válido una nota mayor de 20')
else:
  print('Es válido la nota')

Ingresa la nota: 18
Es válido la nota

In [ ]:
frutero1 = 'manzana', 'melon', 'sandia'
frutero2 = 'manzana', 'melon', 'sandia','tuna','mandarina','granada'
if len(frutero2) >= 5:
  print('tenemos muchas frutas')
else:
  print('debemos comprar mas frutas')

tenemos muchas frutas

>> **REALIZA 8**: Cree un código clasifique el IMC de un paciente al ingresar su peso y talla. Guiarse de la siguiente tabla para la clasificación.


IMC|Clasificación
-------------------|------------------
<18	| Bajo de peso
18-24.9 |	Normal
25-29.9	|Sobrepeso
>30| Obeso

In [ ]:
#coloque el codigo consignando los datos que ingresa el usuario
#pedirle al usuario peso
#pedirle al usuario talla
#ademas de IMC con dos decimales 
#y el diagnostico final
peso = input('ingrese su peso (kg): ')
talla = input('ingrese su talla (mt): ')
print('Peso (kg) = ', peso)
print('Talla (mt) = ', talla)
imc = float(peso)/(float(talla)**2)
print('IMC =','%.2f' % imc)
if imc < 18:
  print('Ud esta bajo de peso')
elif imc >=18 and imc<24.9:
  print('Ud tiene contextura normal')
elif imc >=25 and imc<29.9:
  print('Ud tiene sobrepeso')
else:
  print('Ud tiene obesidad')

ingrese su peso (kg): 88
ingrese su talla (mt): 1.69
Peso (kg) =  88
Talla (mt) =  1.69
IMC = 30.81
Ud tiene obesidad

In [ ]:
#NICKE
peso=float(input("ingrese su peso: "))
talla=float(input("ingrese su talla: "))
IMC=peso/(talla**2)
print(IMC)
if IMC>=0 and IMC<=18:
    print("bajo peso")
elif IMC>=18 and IMC<=24.9:
    print("normal")
elif IMC>=25 and IMC<=29.9:
    print("sobrepeso")
elif IMC>=30:
    print("obeso")
else:
    print("valores fuera de rango")

ingrese su peso: 78
ingrese su talla: 1.90
21.606648199445985
normal

In [ ]:
#PAMELA
peso = float(input("Ingrese su peso en Kg: "))
talla = float(input("Ingrese su talla en metros: "))
imc = peso/(talla**2)
print("imc =",'%.2f' %imc)
print 
#condicionales
if imc<18:
  print('Bajo de peso')
elif imc>=18 and imc<=24.9:
  print('Normal')
elif imc>=25 and imc<=30:
  print('Sobrepeso')
elif imc>30:
  print('Obeso')

Ingrese su peso en Kg: 55
Ingrese su talla en metros: 1.75
imc = 17.96
Bajo de peso

In [ ]:
#SAYURI
peso = float(input("Ingrese su peso en Kg: "))
talla = float(input("Ingrese su talla en metros: "))
IMC = peso/talla**2
if peso < 18.0:
  print('Bajo peso')
elif IMC >= 18.1 and  IMC < 24.9:
  print('Normal')
elif IMC >= 25.0 and IMC < 29.9:
  print('Sobrepeso')
else:
    print('obesidad')

Ingrese su peso en Kg: 78
Ingrese su talla en metros: 1.56
obesidad

**F. Condicionales anidados.** Un condicional puede estar dentro de otro condicional. Por ejemplo, luego de hacer una encuesta en una un salón de clase para saber si a las personas les gusta los videojuegos se elaboró un diagrama que resume las respuestas de los estudiantes:

![if anidadotítulo.jpg]()



Se observó que los hombres (H) jóvenes menores de 22 años sí les gusta los videojuegos, en cambio a las mujeres(M) no. Asimismo, las personas mayores de 22 años aseguraron que no les gusta los videojuegos. 

Supongamos que un **alumna de 20 años** ingresa al salón de clase y nos gustaría utilizar los datos de la encuesta para predecir su preferencia sobre los videojuegos. Creamos un código usando dos expresiones `if`, el primero para preguntar si su edad es menor que 22 años y la segunda, su género. El resultado debe ser la frase `"Sí le gusta los videojuegos"` o `"No le gusta los videojuegos"`

In [ ]:
# Creamos la variable edad
edad = int(input('Ingrese Edad: '))

# Creamos la variable género
genero = input('Ingrese Género (H/M): ')

# Preguntamos si la edad es menor a 22
if edad < 22:
  # Si la condicion cumple, preguntamos su género
  if genero == "H":
    print("Sí le gusta los videojuegos")
  else:
    print("No le gusta los videojuegos")
else:
  # Si la condicion no cumple imprimimos
  print("No le gusta los videojuegos")

Ingrese Edad: 23
Ingrese Género (H/M): M
No le gusta los videojuegos

In [ ]:
#En el codigo anterior se puede dinamizar... 
#si la persona tiene mas de 22 años, podriamos 
# ya no preguntarle su genero...
# Construir ese codigo...
# Creamos la variable edad
edad = int(input('Ingrese Edad: '))

# Preguntamos si la edad es menor a 22
if edad < 22:
  # Creamos la variable género
  genero = input('Ingrese Género (H/M): ')
  # Si la condicion cumple, preguntamos su género
  if genero == "H":
    print("Sí le gusta los videojuegos")
  else:
    print("No le gusta los videojuegos")
else:
  # Si la condicion no cumple imprimimos
  print("No le gusta los videojuegos")

Ingrese Edad: 23
No le gusta los videojuegos

>> **REALIZA 9**: En un hospital se registró que las personas hombres mayores de 60 años tenían mayor riesgo de complicación de salud por COVID-19. En cambio las mujeres mayores de 60 años tenían un riesgo medio.  Las personas menores de 60 años no tuvieron riesgo. A partir de esa data se elaboró un modelo cuyo diagrama se muestra debajo. **Un día llegó una paciente mujer de 65 años** ¿Qué tipo de riesgo tiene? Emplea el modelo para predecirlo. 

![if anidadotdf (1).jpg]()

In [ ]:
# Creamos la variable edad
edad = int(input('Ingrese Edad: '))



# Preguntamos si la edad es menor a 60
if edad < 60:
  print("No hay riesgo")
else:
  # Creamos la variable género
  genero = input('Ingrese Género (H/M): ')
  # Preguntamos su género
  if str(genero) == "H":
    print("Alto Riesgo")
  else:
    print("Riesgo medio")

Ingrese Edad: 61
Ingrese Género (H/M): H
Alto Riesgo

# **Introducción a Listas**

La estructura de datos más simple en Python. Conjunto de valores en un orden particular, cada valor en una lista se identifica mediante un índice. Los valores que forman una lista son llamados elementos. Las listas son similares a las cadenas, que son listas ordenadas de caracteres, excepto que los elementos de una lista pueden ser de cualquier tipo.

Se utiliza los brackets:



```
# list_name = [item1, item2, item3, itemN]
```

In [ ]:
# Lista de números y una lista de secuencias:
numbers = [1,2,3]
sequences = ['ATG', 'TGA', 'CCC']
empty_list = []

La última lista es una lista vacía y es similar a una cadena vacía ('').
La función `len()` se puede usar en listas y devuelve el número de elementos en la lista:

In [ ]:
empty_list = []
len(empty_list)

0

In [ ]:
#Secuencias:
sequences = ['ATG', 'TGA', 'CCC']
len(sequences)

3

In [ ]:
#Elementos variados:
mixed_list = [1, 'ATG', 1.3, [1,2]]
print(mixed_list)

[1, 'ATG', 1.3, [1, 2]]

In [ ]:
# Determinar el tipo de elemento de los valores de una lista
#type(mixed_list[3])
mixed_list = [1, 'ATG', 1.3, [1,2]]
type(mixed_list[0])

int

In [ ]:
#STRING 
cadena = 'acdtrt'
#lista
#lista = ['objeto1','objeto2',3]
#x = 'a','b','c' #tupla
x='a','b','c'
y=(1,4,6)
type(y)

tuple

**INDICES EN LISTAS**

Se accede a los elementos de una lista utilizando operadores, de la misma manera que los caracteres en un STR. Al igual que con las cadenas, la fijación de elementos comienza en 0, y el índice más grande es: la longitud de la lista - 1.

In [ ]:
# [1,2,3,4,5]
#   0 1 2 3 4

In [ ]:
numbers = [1, 2, 3]
numbers[1]

2

In [ ]:
# Cualquier entero se puede usar como índice:
numbers = [1, 2, 3]
numbers[9-8]

2

Si un índice tiene un valor negativo, cuenta hacia atrás desde el final de la lista:

In [ ]:
numbers = [1, 2, 3]
numbers[-1]

3

In [ ]:
# Para seleccionar un rango de elementos de una lista usamos el dos puntos (:)
cadena = ['a', 'b', 'c', 'd', 'e', 'f']

# Queremos tomar los primero 3 elementos. En Python, el límite superior del rango se le suma 1.
cadena[0:3]

['a', 'b', 'c']

**LAS LISTAS SON MUTABLES**

A diferencia de las cadenas, las listas son mutables, lo que significa que se pueden cambiar. Cuando el operador en brackets aparece en el lado izquierdo de una variable, identifica el elemento de la lista que se cambiará:

In [ ]:
# Modificamos el primer valor de una lista empleando index. Cambiamos 1 a 4.
numbers = [1, 2, 3]
#numbers[0] = 'juan' 
#numbers

In [ ]:
#las listas se pueden concatenar?
a = [1,2]
b = [4,6]
print(a+b)
print(b+a)
#el orden importa

[1, 2, 4, 6]
[4, 6, 1, 2]

In [ ]:
#si tengo una lista, podemos revisar los elementos de la lista 
#con el elemento
primers = ['actgatcgtacgtcag','acttgctagctatcg','atcgtacgtagctacgtca']
#lista-->primers
#for item in primers:
#  print(item)
#elegir objetos que cumplan un requisito
#primers = primers + ['tttttttttttt','aaaaaaaaa']
#print(primers)
#len
len(primers)
#agregar o extender los caracteres en cada objeto 'ttttttttt'
for item in primers:
  print(item +'ttttttttttttt')

actgatcgtacgtcagttttttttttttt
acttgctagctatcgttttttttttttt
atcgtacgtagctacgtcattttttttttttt

In [ ]:
#variables y listas
#se puede recorrer los caracteres de una variable?
x = 'alberto'

#se puede recorrer los items de una lista?
z = ['alberto','juan','felipe','coco']
#solo imprimir palabra de mas de 5 letras

for item in z:
  if len(item) > 5:
    print(item)

alberto
felipe

In [ ]:
z = ['federico','juan','fermin','atgcacgttgtc']
#podria imprimir los caracteres de cada objeto de la lista?
for item in z:
  for char in item:
    print(char)

#se seára cada caracter de cada objeto y se muestra en listas
#list
for item in z:
  print(list(item))

#se separa cada STR de la lista
#split
for item in z:
  print(item.split())


#atributos de una list
#append   #pop  #max  #zip  #sort #count #index #remove

f
e
d
e
r
i
c
o
j
u
a
n
f
e
r
m
i
n
a
t
g
c
a
c
g
t
t
g
t
c
['f', 'e', 'd', 'e', 'r', 'i', 'c', 'o']
['j', 'u', 'a', 'n']
['f', 'e', 'r', 'm', 'i', 'n']
['a', 't', 'g', 'c', 'a', 'c', 'g', 't', 't', 'g', 't', 'c']
['federico']
['juan']
['fermin']
['atgcacgttgtc']

# **3. Bucles For y While**

**A. Actualización de variables**. Los valores de las variables pueden ser reemplazadas. Por ejemplo:

In [ ]:
# Si iniciamos con la variable y lo imprimimos
x = 5
print(x)

# Y luego, asignamos x otro valor
x = 8
print(x)

x += 1
print(x)

5
8
9

Ahora introducimos el concepto de incremento y decremento. Incremento se refiere cuando añadimos 1 a una variable

In [ ]:
# Iniciamos la variable y
y = 0

# Su incremento es
y = y + 1

# La variable "y" inició con 0 y ahora es 1
print(y)

1

>> **REALIZA 10**: La variable x se inicializa en 12. Actualizar la variable de tal forma que haya 5 incrementos

In [ ]:
# Inicializamos
x = 12

# Hacemos 5 incrementos
x = x + 1

17

Decremento se refiere cuando restamos 1 a una variable

In [ ]:
# Iniciamos la variable w
w = 0

# Su decremento es
w = w - 1

# La variable "w" inició con 0 y ahora es -1
print(w)

-1

>> **REALIZA 11**: La variable n se inicializa en 5. Actualizar la variable de tal forma que haya 4 decrementos

In [ ]:
# Inicializamos
n = 5
print(n)
# Hacemos 4 decrementos
n-1
n-1
n-1
n-2

**B. La expresión While**. Las tareas repetitivas son comunes cuando las computadoras procesan información o realizan alguna función. Python ofrece funciones para ejecutar iteraciones. Una forma de iterar en Python es mediante la expresión `While`. `While` se ejecuta hasta que se cumpla la condición o enunciado.  

Por ejemplo, se tiene un programa que cuenta hacia atrás desde 5 y luego se imprime "Despegue".

In [ ]:
n = 5
# Iteración
while n > 0: 
  print(n)
  n = n - 1

print("Despegue")

5
4
3
2
1
Despegue

El código significa: `Mientras n sea mayor a cero, imprimir el valor de n y luego reducir en 1 el valor de n`. Finalmente se imprime la frase `"Despegue"`. Es decir,
```
while n > 0:     # Mientras n sea mayor que cero
  print(n)       # Imprimir el valor de n
  n = n - 1      # Reducir en 1 el valor de n
print("Acción")  # Imprimir la frase "Despegue"
```

In [ ]:
i=0
while i > 12:
  print(i)
  i=i+1
#que ocurre en este script? porque?
#que ocurre cuando se retira la anotacion?
#note que estamos contando empleando el contador i=0

In [ ]:
num = range(1,20,2)
i=0
while i < 10:
  print(i,num[i])
  i=i+1
#explique el resultado

0 1
1 3
2 5
3 7
4 9
5 11
6 13
7 15
8 17
9 19

In [ ]:
# Creamos una variable de 0 a 100 con step 3

numeros = range(0,100,3)
#print(numeros)
#la manera de mostrarlos es iterando dentro de la lista numeros
#for item in numeros:
#  print(item)
#imprimir los valores index de la lista, siempre y cuando sean menores a 10

#for item in numeros:
#  if item < 10:
#    print(item)
#while
#imprimir los valores index de la lista, siempre y cuando sean menores a 10

#i = 0
#while i < 10:
#  print(i,numeros[i])
  #iteracion
#  i = i + 1
#EDGARD
#imprimir los valores siempre y cuando sean menores a 10
i = 0
while numeros[i] < 10:
  print(numeros[i])
  i = i + 1

0
3
6
9

In [ ]:
# Código para encontrar un atg en una lista
codones = ['tag', 'aat', 'cgt', 'act', 'ttg','atg', 'atg','acc', 'gca']

#while
#find
i = 0
while codones[i] != 'atg':
   i = i + 1 
print(i,codones[i], 'Encontré un codon atg')

5 atg Encontré un codon atg

In [ ]:
# Encuentra tu aminoácido favorito
#Imprimir los aminoácidos de una secuencia de proteína hasta encontrar un 
# ácido aspartido (D) 

prot = "MFVFLVLLPLVSSQCVNLDTTRTQLPPAY"

i = 0
# Iteración
while  prot[i] != 'D':
  print(i, prot[i])
  i = i+1

print(i, prot[i], 'Encontre un ácido aspártico')

0 M
1 F
2 V
3 F
4 L
5 V
6 L
7 L
8 P
9 L
10 V
11 S
12 S
13 Q
14 C
15 V
16 N
17 L
18 D Encontre un ácido aspártico

>> **REALIZA 12**: Mostrar 10 valores de la tabla de multiplicar del 3.

In [ ]:
n = 1
# Iteración
#while n <= 10:
#  print( ,'x',  , '=', )

n = 1
# Iteración
while n <= 10:
  print( 3,'x',n  , '=',n*3 )
  n=n+1

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

n = 1
# Iteración
while n <= 10:
  print( ,'x',  , '=', )

**C. La expresión For**. Usamos el bucle `For`para ejecutar una cantidad determinada de veces. Lo usamos para recorrer un conjunto de elementos como una lista de números o palabras.

Por ejemplo, si quisiera tomar cada elemento de la lista `"Alumnos"` e imprimirlo. Hay dos formas para solucionar este ejercicio: Un método directo y otro usando indices.

**METODO I:** El código procesa la lista `alumnos`. Al emplear la expresión `For`se recorre la lista para cada alumno en el conjuntos alumnos y se ejecuta `print(alumno)`

In [ ]:
# Tenemos la lista de alumnos
alumnos = ['Juan', 'Alberto', 'Marta', 'Luis']

# Queremos mandar un saludo a cada alumno
for alumno in alumnos:
  print("Hola", alumno)

Hola Juan
Hola Alberto
Hola Marta
Hola Luis

>> **REALIZA 13:** Imprimir la longitud de cada secuencia de la lista secuencias

In [ ]:
secuencias = ['tagctacgtacg', 'taaggcatgcatcgt', 'ccacattccgtacgtacg', 'ccatcgatcgtcgtt', 'ggatcgtagctagct']

12
15
18
15
15

**METODO II:** Empleamos índices para recorrer la lista. 

* Para ello escribimos `range(n)` dentro del bucle `for` para hacer `n` iteraciones. Por ejemplo si escribo range(4), entonces quiero hacer 4 iteraciones. El siguiente código imprimirá 4 números empezando desde cero.

In [ ]:
# Este código
for i in range(4):
  print(i)

0
1
2
3

Cuando usamos este método, `"i"` siempre comenzará desde cero y como es un bucle `"i"` tendrá un incremento en cada iteración en el `rango(n)`. Ahora accedamos cada valor de la lista `alumnos` usando indices.

In [ ]:
# Para la lista alumnos
alumnos = ['Juan', 'Alberto', 'Marta', 'Luis']

# Recordar que se accede a los valores de la lista usando index en corchetes:
print(alumnos[0])
print(alumnos[1])
print(alumnos[2])
print(alumnos[3])

Juan
Alberto
Marta
Luis

 En vez de escribir 4 veces la función `print()` usemos el bucle  `For`. Recordar que `"i"` inicia desde 0 y se incrementa en cada iteración.

In [ ]:
# Tenemos la lista de alumnos
alumnos = ['Juan', 'Alberto', 'Marta', 'Luis']

# Queremos mandar un saludo a cada alumno
for i in range(4):
  print(alumnos[i])

Juan
Alberto
Marta
Luis

De esta manera nos ahorramos algunas líneas de código.

In [ ]:
# Hemos colocado 4 debido a que existen 4 elementos en la lista. 
# Podemos usar la función predeterminada  len() para extraer la cantidad de elementos
for i in range(len(alumnos)):
  print(alumnos[i])

Juan
Alberto
Marta
Luis

>> **REALIZA 14:** Imprimir por separado cada letra de la siguiente secuencia.

In [ ]:
seq = 'ccacattccgtacgtacgc'

c
c
a
c
a
t
t
c
c
g
t
a
c
g
t
a
c
g
c

>> **REALIZA 15:** Añadir un codón de paro (tag) al final de cada secuencia de la lista.

In [ ]:
secuencias = ['tagctacgtacg', 'taaggcatgcatcgt', 'ccacattccgtacgtacg', 'ccatcgatcgtcgtt', 'ggatcgtagctagct']

tagctacgtacgtag
taaggcatgcatcgttag
ccacattccgtacgtacgtag
ccatcgatcgtcgtttag
ggatcgtagctagcttag

>> **REALIZA 16:** Recorrer la siguiente palabra tomando una ventada de 3 en 3 en cada iteración. Para hallar el número de ventanas es el número de caracteres menos el tamaño de la ventana, más 1.

In [ ]:
seq = 'peruana'

a = 3
for i in range( ):
  print( )

0 per
1 eru
2 rua
3 uan
4 ana

# **Funciones**

Las funciones son bloques de código  reutilizables que nos ayudan a hacer tareas determinadas. Existen funciones que vienen incluidas en python como `print()`, `len()` , etc.  Pero ¿cómo hacemos nuestras propias funciones?. Usando la expresión `def`.

**FUNCIÓN SIMPLE**

In [ ]:
# Creamos una función sencilla
def saludo():
  print("Bienvenidos a la clase 2")

# Como las funciones se pueden reutilizar, imprimamos la función 3 veces
saludo()
saludo()
saludo()

Bienvenidos a la clase 2
Bienvenidos a la clase 2
Bienvenidos a la clase 2

>> **REALIZA 17:** Elabora una función que imprima una presentación breve de tu persona.

In [ ]:
# Crea la función
#def presentacion():
# Imprime la función
#presentacion()
def presentacion():
  print("Hola Mi nombre es Leonela")
  print("Trabajo en el MIDIS")
  print("Soy de Perú")

# Imprime la función
presentacion()

Hola Mi nombre es Leonela
Trabajo en el MIDIS
Soy de Perú

**FUNCIÓN CON VALORES DE ENTRADA**

También puedo ingresar valores a una función escribiéndolo dentro de los paréntesis . Por ejemplo, la siguiente función calcula la cantidad de vocales "a" que existen en una palabra. Usamos la función `count()`

In [ ]:
def aletra(palabra):
  contar = palabra.count("a")
  print(contar)

#Ingresamos la palabra "aminotransferasa"
aletra("aminotransferasa")
aletra('sesion')
palabra = 'casa'
aletra(palabra)

4
0
2

In [ ]:
# Ingresamos otra palabra
aletra("mxgnetoencefalografía")

3

In [ ]:
# Función con dos o más entradas

nombre=input("¿Cuál es tu nombre: ")
apellido=input("¿Cuál es tu apellido: ")

def identificate(nombre, apellido):
  print("Mi nombre es", nombre, "y mi apellido es", apellido)

identificate(nombre, apellido)

¿Cuál es tu nombre: Jose
¿Cuál es tu apellido: Cisneros
Mi nombre es Jose y mi apellido es Cisneros

>> **REALIZA 18:** Elabora una función calcule el porcentaje GC de una secuencia

In [ ]:
seq = 'ccacattccgtacgtacgc'

def GC(secuencia):
  G = secuencia.count('g')
  C = secuencia.count('c')
  GC = ((G + C)/len(seq))*100
  #print(GC)
  return GC

round(GC(seq),2)

57.89

**FUNCIÓN Y VARIABLES**

Para que el resultado de una función se almacene en una variable, debemos usar la expresión `return()`. A diferencia de `print()`, `return()` permite almacenar un valor dentro de una variable.

In [ ]:
# Por ejemplo la función para contar la vocal a de una palabra
def aletra(palabra):
  contar = palabra.count("a")
  return(contar) # escribimos return

In [ ]:
# De esta forma lo puedo guardar el resultado en una variable
palabra_1 = aletra("solidaridad")
print(palabra_1)

palabra_2 = aletra("empresa")
print(palabra_2)

2

>> **REALIZA 19:** Calcula el GC de la secuencia seq1, seq2 y seq3. Luego determinar el promedio de los 3 GCs.

In [ ]:
def GC(secuencia):
  G = secuencia.count('g')
  C = secuencia.count('c')
  GC = ((G + C)/len(seq))*100
  #print(GC)
  return GC


seq1 = 'acattcgtagtgctgagatgctagcatcgatgctagctagcactatcttctgatgcgta'
seq2 = 'ccacaatgctagctacgtagctagctagtcgatcgatcgtagcagttacatgctagcta'
seq3 = 'ccacattcatcgatcgatcgatcgtagctagctagctagctgatcgaccgtacgtacgc'

def GC_prom(seq1,seq2,seq3):
  GC_1 = GC(seq1)
  GC_2 = GC(seq2)
  GC_3 = GC(seq3)
  promedio = (GC_1 + GC_2 + GC_3)/3
  return promedio

GC_prom(seq1,seq2,seq3)

150.87719298245614

**FUNCIONES LAMBDA**

* **Funciones anónimas**

Uno de los aspectos más poderosos de Python es que permite un estilo de programación llamado programación funcional, lo que significa que se le permite pasar funciones como si fueran variables o valores.

In [ ]:
# Tenemos la siguiente función lambda: 
a = 'tttt'
b = 'aaaaa'
suma = lambda a, b: a+b

suma(a,b)

'ttttaaaaa'

In [ ]:
entre_tres = lambda x: x / 3

# Sería lo mismo que:
def entre_tres(x):
  return x / 3

In [ ]:
# imprimimos el resultado de la función
entre_tres(12)

4.0

In [ ]:
#utiliza la funcion lambda para almacenar en nombre y apellido de una persona 
#en una variable llamada nombre completo
#x = 'nombre'
#y = ' apellido'
nombre_completo = lambda x,y: x+" "+y
nombre_completo("Alex","Vargas")

'Alex Vargas'

Con las funciones lambda no necesitamos darle un nombre a la función; realiza el trabajo y devuelve un valor sin tener un valor inicial y en un solo enunciado. Es por eso que la función que crea lambda se llama función anónima.

>> **REALIZA 20:** Cree una función lambda para realizar una operación simple.

In [ ]:
####

# **RETO 2 (ENTREGAR 29 DE ABRIL)**

* Se cuentan con 3 secuencias glicoproteínas de superficie del SARSCoV2. Una de ellas se trata de la secuencia de referencia. Buscar las mutaciones de las dos secuencias con respecto a la secuencia de referencia.

In [ ]:
# YP_009724390.1 surface glycoprotein - Secuencia de Referencia
surface_ref = "MFVFLVLLPLVSSQCVNLTTRTQLPPAYTNSFTRGVYYPDKVFRSSVLHSTQDLFLPFFSNVTWFHAIHVSGTNGTKRFDNPVLPFNDGVYFASTEKSNIIRGWIFGTTLDSKTQSLLIVNNATNVVIKVCEFQFCNDPFLGVYYHKNNKSWMESEFRVYSSANNCTFEYVSQPFLMDLEGKQGNFKNLREFVFKNIDGYFKIYSKHTPINLVRDLPQGFSALEPLVDLPIGINITRFQTLLALHRSYLTPGDSSSGWTAGAAAYYVGYLQPRTFLLKYNENGTITDAVDCALDPLSETKCTLKSFTVEKGIYQTSNFRVQPTESIVRFPNITNLCPFGEVFNATRFASVYAWNRKRISNCVADYSVLYNSASFSTFKCYGVSPTKLNDLCFTNVYADSFVIRGDEVRQIAPGQTGKIADYNYKLPDDFTGCVIAWNSNNLDSKVGGNYNYLYRLFRKSNLKPFERDISTEIYQAGSTPCNGVEGFNCYFPLQSYGFQPTNGVGYQPYRVVVLSFELLHAPATVCGPKKSTNLVKNKCVNFNFNGLTGTGVLTESNKKFLPFQQFGRDIADTTDAVRDPQTLEILDITPCSFGGVSVITPGTNTSNQVAVLYQDVNCTEVPVAIHADQLTPTWRVYSTGSNVFQTRAGCLIGAEHVNNSYECDIPIGAGICASYQTQTNSPRRARSVASQSIIAYTMSLGAENSVAYSNNSIAIPTNFTISVTTEILPVSMTKTSVDCTMYICGDSTECSNLLLQYGSFCTQLNRALTGIAVEQDKNTQEVFAQVKQIYKTPPIKDFGGFNFSQILPDPSKPSKRSFIEDLLFNKVTLADAGFIKQYGDCLGDIAARDLICAQKFNGLTVLPPLLTDEMIAQYTSALLAGTITSGWTFGAGAALQIPFAMQMAYRFNGIGVTQNVLYENQKLIANQFNSAIGKIQDSLSSTASALGKLQDVVNQNAQALNTLVKQLSSNFGAISSVLNDILSRLDKVEAEVQIDRLITGRLQSLQTYVTQQLIRAAEIRASANLAATKMSECVLGQSKRVDFCGKGYHLMSFPQSAPHGVVFLHVTYVPAQEKNFTTAPAICHDGKAHFPREGVFVSNGTHWFVTQRNFYEPQIITTDNTFVSGNCDVVIGIVNNTVYDPLQPELDSFKEELDKYFKNHTSPDVDLGDISGINASVVNIQKEIDRLNEVAKNLNESLIDLQELGKYEQYIKWPWYIWLGFIAGLIAIVMVTIMLCCMTSCCSCLKGCCSCGSCCKFDEDDSEPVLKGVKLHYT"

# QMX86941.1 surface glycoprotein
surface_001 = "MFVFLVLLPLVSSQCVNLTTRTQLPPAYTNSFTRGVYYPDKVFRSSVLHSTQDLFLPFFSNVTWFHAIHVSGTNGTKRFDNPVLPFNDGVYFASTEKSNIIRGWIFGTTLDSKTQSLLIVNNATNVVIKVCEFQFCNDPFLGVYYHKNNKSWMESEFRVYSSANNCTFEYVSQPFLMDLEGKQGNFKNLREFVFKNIDGYFKIYSKHTPINLVRDLPQGFSALEPLVDLPIGINITRFQTLLALHRSYLTPGDSSSGWTAGAAAYYVGYLQPRTFLLKYNENGTITDAVDCALDPLSETKCTLKSFTVEKGIYQTSNFRVQPTESIVRFPNITNLCPFGEVFNATRFASVYAWNRKRISNCVADYSVLYNSASFSTFKCYGVSPTKLNDLCFTNVYADSFVIRGDEVRQIAPGQTGKIADYNYKLPDDFTGCVIAWNSNNLDSKVGGNYNYLYRLFRKSNLKPFERDISTEIYQAGSTPCNGVEGFNCYFPLQSYGFQPTNGVGYQPYRVVVLSFELLHAPATVCGPKKSTNLVKNKCVNFNFNGLTGTGVLTESNKKFLPFQQFGRDIADTTDAVRDPQTLEILDITPCSFGGVSVITPGTNTSNQVAVLYQGVNCTEVPVAIHADQLTPTWRVYSTGSNVFQTRAGCLIGAEHVNNSYECDIPIGAGICASYQTQTNSPRRARSVASQSIIAYTMSLGAENSVAYSNNSIAIPTNFTISVTTEILPVSMTKTSVDCTMYICGDSTECSNLLLQYGSFCTQLNRALTGIAVEQDKNTQEVFAQVKQIYKTPPIKDFGGFNFSQILPDPSKPSKRSFIEDLLFNKVTLADAGFIKQYGDCLGDIAARDLICAQKFNGLTVLPPLLTDEMIAQYTSALLAGTITSGWTFGAGAALQIPFAMQMAYRFNGIGVTQNVLYENQKLIANQFNSAIGKIQDSLSSTASALGKLQDVVNQNAQALNTLVKQLSSNFGAISSVLNDILSRLDKVEAEVQIDRLITGRLQSLQTYVTQQLIRAAEIRASANLAATKMSECVLGQSKRVDFCGKGYHLMSFPQSAPHGVVFLHVTYVPAQEKNFTTAPAICHDGKAHFPREGVFVSNGTHWFVTQRNFYEPQIITTDNTFVSGNCDVVIGIVNNTVYDPLQPELDSFKEELDKYFKNHTSPDVDLGDISGINASVVNIQKEIDRLNEVAKNLNESLIDLQELGKYEQYIKWPWYIWLGFIAGLIAIVMVTIMLCCMTSCCSCLKGCCSCGSCCKFDEDDSEPVLKGVKLHYT"

# QNH88648.1 surface glycoprotein
surface_002 = "MFVFLVLLPLVSSQCVNLTTRXQLXPAYTNSFTRGVYYPDKVFRSSVLHSTQDLFLPFFSNVTWFHAIHVSGTNGTKRFDNPVLPFNDGVYFASTEKSNIIRGWIFGTTLDSKTQSLLIVNNATNVVIKVCEFQFCNDPFLXVXXHKNNKSWMESEFRVYSSANNCTFEYVSQPFLMDLEGKQGNFKNLREFVFKNIDGYFKIYSKHTPINLVRDLPQGFSALEPLVDLPIGINITRFQTLLALHRSYLTPGDSSSGWTAGAAAYYVGYLQPRTFLLKYNENGTITDAVDCALDPLSETKCTLKSFTVEKGIYQTSNFRVQPTESIVRFPNITNLCPFGEVFNATRFASVYAWNRKRISNCVADYSVLYNSASFSTFKCYGVSPTKLNDLCFTNVYADSFVIRGDEVRQIAPGQTGKIADYNYKLPDDFTGCVIAWNSKNLDSKVGGNYNYLYRLFRKSNLKPFERDISTEIYQAGSTPCNGVEGFNCYFPLQPYGFQPTNGVGYQPYRVVVLSFELLHAPATVCGPKKSTNLVKNKCVNFNFNGLTGTGVLTESNKKFLPFQQFGRDIADTTDAVRDPQTLEILDITPCSFGGVSVITPGTNTSNQVAVLYQGVNCTEVPVAIHADQLTPTWRVYSTGSNVFQTRAGCLIGAEHVNNSYECDIPIGAGICASYQTQTNSPRRARSVASQSIIAYTMSLGAENSVAYSNNSIAIPTNFTISVTTEILPVSMTKTXVDCTMYICGDSTECSNLLLQYGSFCTQLNRALTGIAVEQDKNTQEVFAQVKQIYKTPPIKDFGGFNFSQILPDPSKPSKRSFIEDLLFNKVTLADAGFIKQYGDCLGDIAARDLICAQKFNGLTVLPPLLTDEMIAQYTSALLAGTITSGWTFGAGAALQIPFAMQMAYRFNGIGVTQNVLYENQKLIANQFNSAIGKIQDSLSSTASALGKLQDVVNQNAQALNTLVKQLSSNFGAISSVLNDILSRLDKVEAEVQIDRLITGRLQSLQTYVTQQLIRAAEIRASANLAATKMSECVLGQSKRVDFCGKGYHLMSFPQSAPHGVVFLHVTYVPAQEKNFTTAPAICHDGKAHFPREGVFVSNGTHWFVTQRNFYEPQIITTDNTFVSGNCDVVIGIVNNTVYDPLQPELDSFKEELDKYFKNHTSPDVDLGDISGINASVVNIQKEIDRLNEVAXNLNESLIDLQELGKYEQYIKWPWYIWLGFIAGLIAIVMVTIMLCCMTSCCSCLKGCCSCGSCCKFDEDDSEPVLKGVKLHYT"